
body {
  font-family: 'Roboto', sans-serif;
	font-size: 1em;
	line-height: 1em;
	height: 100%;
	color: #000;
 	background-color: #282C34;
  color: #ABB2BF;


}

h1 {
	font-size: 3em;
	font-weight: normal;
	margin-bottom: 0.6em;
	margin-top: 0.6em;
	line-height: 1em;
	text-align: center;
  color: #ABB2BF;

}

.shopping {
	position:absolute;
  	top:0;
   	right:0;
   	margin-top: 0.6em;
   	margin-right: 0.6em;
}

.login {
	position:absolute;
  	top:0;
   	left:0;
   	margin-top: 0.6em;
   	margin-left: 0.6em;
}

.button {
    display: inline-block;
    padding: 5px 10px;
    z-index: 0;
    color: #ABB2BF;
}


.overlay {
    z-index: 5;
    background: rgba(0, 0, 0, .50);
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
}

.popup {
    padding: 10px 10px 35px;
    background: #fff;
    z-index: 999;
    display: none;
    position: absolute;
    left: 0;
}

.middle {
  border: 10px;
  height: 600px;
  width: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  text-align: center;
}
#left {
  float: left;

}
#right {
  float: right;
  margin-right: 150px;
}
